
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center">
    <h1 class="display-3">Thank you for contacting us!</h1>
    <p class="lead">We have received your message.</p>
    <p class="lead">We will contact you as soon as possible.</p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" role="button" href="@Url.Action("Index","Home")">Continue to homepage</a>
    </p>
</div>


