@using System.Configuration
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDataPaypal</title>
    @*<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>*@
</head>
<body>
    <div class="col-md-12 text-center">
    <span class="icon-check_circle display-3 text-success"></span>
    <h2 class="display-3 text-black">Thank you!</h2>
    <p class="lead mb-5">You order was successfuly completed.We will complete the order and send it out soon!</p>
    <p><a href="/Product/Index" class="btn btn-sm btn-primary">Back to shop</a></p>
</div>
    <!--<div> 
        <form action="@ConfigurationManager.AppSettings["PostUrl"]" method="POST">
            <input type="hidden" name="cmd" value="_notify-synch" />
            <input type="hidden" name="tx" value="@ViewBag.tx" />
            <input type="hidden" name="at" value="@ConfigurationManager.AppSettings["Token"]" />-->
            @*<input type="submit" value="Get Data" class="btn btn-primary" />*@
        <!--</form>
    </div>-->
</body>
</html>
