@*@using PagedList.Mvc*@
@{
    ViewBag.Title = "Ord";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-12">
    @*@{var view = ViewData["Ord"] as PagedList.IPagedList<CDstore.Models.ModelView.OrderView>;*@
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Order Detail</h4>


            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                            ID
                        </th>

                        <th>
                            Product
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Total
                        </th>


                        </thead>
                        <tbody>



                            @*@foreach (var item in view)*@
                            
                                <tr>
                                    <td>
                                        
                                    </td>

                                    <td>
                                       
                                    </td>
                                    <td>
                                       
                                    </td>
                                    <td>
                                        
                                    </td>


                                </tr>
                            


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-sm-12">
                <div class="pagination font-alt">
                    <div class="numberpage">Page @(view.PageCount < view.PageNumber ? 0 : view.PageNumber) / @view.PageCount</div>
                    <div class="page">
                        @Html.PagedListPager(view, page => Url.Action("ViewOrd",
                                       new { page }))
                    </div>
                </div>
            </div>
        </div>
    }*@


</div>
<style>
    .pagination {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

        .pagination > li {
            width: 25px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border: 1px solid;
            border-radius: 10%;
            background-color: rebeccapurple;
        }

    .page {
        width: 350px;
    }

    .numberpage {
        width: 155px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        float: inherit;
    }
</style>




